* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#GameCanvas {
    border: 5px solid gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #4d79bc;
    min-width: 800px;
    min-height: 600px;
    /*font-family: 'Bangers', cursive;*/
}

.img-assets {
    display: none;
}